## Pandasql

In [ ]:
# ! pip install pandasql

In [ ]:
import pandas as pd
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

iris = pd.read_csv('/class/Day3-Pandas/iris-data-index-column.csv', index_col=0, header=0)
display(iris)

In [ ]:
query = 'select upper(Class) as Class, Sepal_Length * 10 as S_Length, Sepal_Width / 10 as S_Width from iris'

iris2 = pysqldf(query)
display(iris2)

## LAB 1: ## 

### There are also some built-in sample datasets that can be used to play around with in pandasql

#### 1.	Use the meat DataFrame below, and find how many records have a null value for the broilers field 
#### 2.	Try to do the same using standard pandas commands

<br>
<details><summary>Click for <b>hint</b></summary>
<p>
For pandasql, use the name of the variable as a table name in the FROM clause
<br>
Use SQL SELECT COUNT and a null test in the WHERE clause
<br>
For standard pandas, get the Series for the broilers column using [] notation
<br>
Use isnull() method to get a Series of True/False for the rows that are null
<br>
Use that to get just the rows from the DataFrame that are null
<br>
Use the len() function to see how many there are
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

meat = ps.load_meat()
#display(meat)

print(pysqldf('select count(*) from meat where broilers is null'))

print(len(meat['broilers'][meat['broilers'].isnull()]))

```
</p>
</details>

In [ ]:
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

meat = ps.load_meat()
display(meat)

## Central Tendency
Pandas is a module that contains the DataFrame object.
Here we are looking at the three measures of central tendency and the count of how many objects in the DataFrame.
Then we show each unique value and how many times it occurs.

In [ ]:
import pandas as pd
df = pd.DataFrame([9,10,10,11,11,11,12,12,12,13,13,13,13,14], columns=['Age'])

print("Mean", df.Age.mean(), "Median", df.Age.median(), "Mode", df.Age.mode()[0], "Count", df.Age.count())
print(df.Age.value_counts())

## LAB 2: ## 

### Find the three central tendencies for beef in the meat DataFrame
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Try to use . syntax and [] syntax as alternatives to get the beef column
<br>
Remember mode is trickier, try using both mode and value_counts to make sure you understand how to get the mode
<br>
Of the three central tendencies, which makes the most sense to use in this case?
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
print(meat.beef.mean(), meat['beef'].median(), meat.beef.mode()[0])
print(meat['beef'].mode())
print(meat.beef.value_counts())

```
</p>
</details>

## Plotting
We can visualize what the data looks like with a number of different plots.
Boxplots are useful to see the big picture on a series of numbers.
We can see min, max, mean, and the inter quartile range.

## Box Plot
Shows the minimum, maximum, mean, and inter quartile range.

In [ ]:
%matplotlib inline
import matplotlib as mp
from matplotlib import pyplot as plt
plt.ylim(8,15)
df.boxplot()

## Histogram
Good for looking at how many items fall within a range.

In [ ]:
%matplotlib inline
import numpy as np
df = pd.DataFrame(np.random.rand(253, 1) * 254, columns=['col1'])
df.hist(histtype='bar', ec='black')

## Bar Chart
Useful for seeing how many items are in each category.

In [ ]:
df = pd.DataFrame([('Male', 10),('Male', 11), ('Female', 11), ('Female', 12), ('Female', 12)], columns=['Gender','Age'])
x = df.groupby('Gender').count()
print(x)
x.plot(kind='bar')

## LAB 3: ## 

### Create a boxplot to compare beef, veal, and pork
### Run a histogram on the same three
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Select the three columns from meat using the [[]] syntax 
<br>
Run a boxplot method on the DataFrame of three columns
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
%matplotlib inline
somemeat = meat[['beef', 'veal', 'pork']]
somemeat.boxplot()

somemeat.hist(histtype='bar', ec='black')

```
</p>
</details>

In [ ]:
%matplotlib inline
somemeat = meat[['beef', 'veal', 'pork']]
somemeat.boxplot()

somemeat.hist(histtype='bar', ec='black')

## Replacing Null Values with the Central Tendency

In [ ]:
import pandas as pd
fatal = pd.read_csv('2012_Workplace_Fatalities_by_State.csv')
print(fatal.columns)
fatal.columns = ['State', 'NumberOfFatalities', 'RateOfFatalities', 'StateRank', 'NumberOfInjuries', 'InjuriesRate', 'PenaltiesAvg', 'PenaltiesRank', 'Inspectors', 'YearsToInspectEachWorkplaceOnce', 'StateFederal']
print(fatal.PenaltiesRank.mean())
display(fatal.PenaltiesRank[48:])
display(fatal.PenaltiesRank[48:].isnull())
fatal.PenaltiesRank = fatal.PenaltiesRank.fillna(fatal.PenaltiesRank.mean())
display(fatal.PenaltiesRank[48:])
fatal.dropna(axis = 0, inplace = True)
print(fatal.shape)

## LAB 4: ## 

### Calculate the central tendency for broilers
### Replace the null values for broilers with that central tendency
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use mean for the central tendency
<br>
Use fillna to replace the null values for broilers. Try it with inplace False first, then True to see the different syntax
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
meat = ps.load_meat()
broilersct = meat.broilers.mean()
print(broilersct)
display(meat)
meat2 = meat.broilers.fillna(broilersct, inplace = False)
display(meat)
display(meat2)
meat.broilers = meat2
display(meat)

meat = ps.load_meat()
meat.broilers.fillna(meat.broilers.mean(), inplace = True)
display(meat)
```
</p>
</details>

### Now suppose you want to do that for several columns. Let's use the apply function to run the fillna function on each column

In [ ]:
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']
meat[cols] = meat[cols].apply(lambda x : x.fillna(x.mean()))
display(meat)

## Add and Remove Columns to a DataFrame

In [ ]:
print(fatal.columns)
fatal.insert(11, 'ProgramType', pd.Categorical(fatal['StateFederal']).codes)
display(fatal[['ProgramType', 'StateFederal']][:5])
fatal.drop(['StateFederal'], axis = 1, inplace=True)
print(fatal.columns)

## Change Data Type

In [ ]:
display(fatal.NumberOfFatalities[48:])
fatal.NumberOfFatalities = fatal.NumberOfFatalities.fillna(0).astype(int)
display(fatal.NumberOfFatalities[48:])

## Rescale Data

In [ ]:
from sklearn import preprocessing as pp
x = fatal.NumberOfFatalities.astype(float)
print(x.mean(), x.std(), x.min(), x.max())
display(x[10:15])
display(pp.scale(x, with_mean = False, with_std = False)[10:15])
display(pp.scale(x, with_mean = True, with_std = False)[10:15])
display(pp.scale(x, with_mean = False, with_std = True)[10:15])
display(pp.scale(x, with_mean = True, with_std = True)[10:15])

r = pp.scale(x, with_mean = True, with_std = True)
fatal.NumberOfFatalities = r
print('rescaled', fatal.NumberOfFatalities[10:15])

## LAB 5: ## 

### Right after the last lab, we used the apply function to replace null values for each column with the central tendency of that column. Using a similar technique, see if you can rescale those same columns centered around the mean and std.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use apply and a lambda to that uses pp.scale
<br>
<br>
</p>
</details>
<details><summary>Click for <b>code</b></summary>
<p>

```python
from sklearn import preprocessing as pp
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']
meat[cols] = meat[cols].apply(lambda x : x.fillna(x.mean()))
meat[cols] = meat[cols].apply(lambda x : pp.scale(x, with_mean = True, with_std = True))

display(meat)
```
</p>
</details>

In [ ]:
from sklearn import preprocessing as pp
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']

## Sometimes a helper function can make life easier. Here's one to automatically fillna and scale all numeric columns

In [ ]:
from numpy import nan as NA

def numeric_columns(df):
    is_number = np.vectorize(lambda x: np.issubdtype(x, np.number))
    return is_number(df.dtypes)
    
def apply_numeric_columns(df, func = None, with_mean = None, with_std = None, inplace = False):
    import numpy as np
    if with_mean or with_std:
        with_mean = False if with_mean is None else with_mean
        with_std = False if with_std is None else with_std
        func = lambda x : pp.scale(x, with_mean = with_mean, with_std = with_std)
    elif func is None: # default would be to replace value with the column mean
        func = lambda x : x.fillna(x.mean())
    is_number = np.vectorize(lambda x: np.issubdtype(x, np.number))
    ret = df.iloc[:, is_number(df.dtypes)].apply(func)
    if inplace:
        df.iloc[:, numeric_columns(df)] = ret
        
    return ret

df = pd.DataFrame({'a':['One', 'Two', 'Three', 'Four', 'Five'], 'b': [1, 2, 3, 4, NA], 'c':[10, 20, 30, 20, NA]})
display(df)
apply_numeric_columns(df, inplace = True)
display(df)
apply_numeric_columns(df, with_mean = True, with_std = True, inplace = True)
display(df)

# df2 = apply_numeric_columns(df)
# df3 = apply_numeric_columns(df2, with_mean = True, with_std = True)
# display(df3)

# df.iloc[:, numeric_columns(df)]
# #print(df.mean(), df.std())
# df2 = apply_numeric_columns(df)
# display(df2)

# # Replace the numeric columns with the rescaled version
# df.iloc[:, numeric_columns(df)] = df2
# display(df)

## Concat Data

In [ ]:
df1 = pd.DataFrame([('Male', 10),('Male', 11), ('Female', 11), ('Female', 12), ('Female', 12)], columns=['Gender','Age'])
df2 = pd.DataFrame([('Male', 20),('Male', 21), ('Female', 21), ('Female', 22)], columns=['Gender','Age'])
df = pd.concat([df1, df2])
print(df)
df3 = pd.DataFrame([('John', 'Smith'), ('Joe','Average'), ('Jane', 'Doe'), ('Jill', 'Hill')], columns = ['First', 'Last'])
df = pd.concat([df1, df3], axis = 1)
print(df)

## Merge or Join DataFrames

In [ ]:
person_data = {
        'id': ['1', '2', '3', '4', '5'],
        'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'], 
        'last_name': ['Smith', 'Miller', 'Sprat', 'Wonderland', 'Blow']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'last_name'])

skill_data = {
    'id' : ['1', '1', '2', '3', '3', '3', '5', '6'],
    'skill' : ['C++', 'Java', 'Java', 'C++', 'Java', 'Python', 'Python', 'Java']
}
df2 = pd.DataFrame(skill_data, columns = ['id', 'skill'])

print(pd.merge(df1, df2, on = 'id'))
print(pd.merge(df1, df2, how = 'left' ))

## Convert Categorical Data

In [ ]:
person_data = { 'id': ['1', '2', '3', '4', '5'],       
     'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'],        
     'status': ['Active', 'Active', 'Pending', 'Cancelled', 'Cancelled']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'status'])
print(df1)
df1.status = pd.Categorical(df1.status).codes
print(df1)

## Dummy Encoded

In [ ]:
person_data = { 'id': ['1', '2', '3', '4', '5'],       
     'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'],        
     'status': ['Active', 'Active', 'Pending', 'Cancelled', 'Cancelled']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'status'])
print(df1)

dummies = pd.get_dummies(df1.status, drop_first = True)
df2 = pd.concat([df1[['id','first_name']], dummies], axis = 1)
print(df2)

dummies = pd.get_dummies(df1.status, drop_first = False)
df3 = pd.concat([df1[['id','first_name']], dummies], axis = 1)
print(df3)

## Split Data into Train and Test Sets

In [ ]:
print ('Split 1')
train = fatal.sample(frac=0.8,random_state=200)
test = fatal[~fatal.index.isin(train.index)]
x0 = fatal.ProgramType
x1 = train.ProgramType
x2 = test.ProgramType

print(x0.value_counts()/x0.count())
print(x1.value_counts()/x1.count())
print(x2.value_counts()/x2.count())
print(fatal.shape, train.shape, test.shape)

from sklearn.model_selection import train_test_split
print ('Split 2')
train, test = train_test_split(fatal, test_size=0.2)
x0 = fatal.ProgramType
x1 = train.ProgramType
x2 = test.ProgramType
print(x0.value_counts()/x0.count())
print(x1.value_counts()/x1.count())
print(x2.value_counts()/x2.count())
print(fatal.shape, train.shape, test.shape)

## LAB 6: ## 

### Split the meat DataFrame into a 70/30 split
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use train_test_split, it's way easier
<br>
<br>
</p>
</details>
<details><summary>Click for <b>code</b></summary>
<p>

```python
from sklearn.model_selection import train_test_split
meatTrain, meatTest = train_test_split(meat, test_size = 0.3)
print(len(meatTrain), len(meatTest))
```
</p>
</details>

### Natural Language Processing

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 

DIR = 'text'

def corpus_from_dir(folder):
    import os
    ret = dict(docs = [open(os.path.join(folder,f)).read() for f in os.listdir(folder)],
               ColNames = map(lambda x: x.split('.')[0], os.listdir(folder)))
    return ret

def tdm_df(docs, colNames = None, **kwargs):

    #initialize the  vectorizer
    vectorizer = CountVectorizer(**kwargs)
    x1 = vectorizer.fit_transform(docs)
    #create dataFrame
    df = pd.DataFrame(x1.toarray().transpose(), index = vectorizer.get_feature_names())
    if colNames is not None:
        df.columns = colNames

    return df

corpus = corpus_from_dir(DIR)
print(corpus)
df = tdm_df(docs = corpus['docs'], colNames = corpus['ColNames'], stop_words = 'english')  
print(df)

## Homework: ## 

### Load the sales.csv file found in Day4
### Replace the nulls with the means and rescale the numeric columns 
### Add a column for a numeric encoded version of color
### Add a series of dummy coded columns for color
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Import the correct package to do rescaling
<br>
Remember to add a new column you can't use property or dot syntax to refer to a column
<br>
Remember to add Dummy Coded values you are adding more than one column so you need another method to add them to the DataFrame
<br>
<br>
</p>
</details>