## Here is a list of numbers
### You can add and change elements as well as extract elements individually or in slices

In [2]:
numbers = [4, 2, 10, 12, 3, 7, 12]
# numbers.append(20)
# numbers[0] = 5
# print(numbers)
# numbers.pop()
print(numbers)
print(numbers[2])
print(numbers[2:])
print(numbers[:2])
print(numbers[2:-2])

[4, 2, 10, 12, 3, 7, 12]
10
[10, 12, 3, 7, 12]
[4, 2]
[10, 12, 3]

In [3]:
print(numbers)

[4, 2, 10, 12, 3, 7, 12]

## Sets can also be used instead and they automatically remove duplicate values

In [8]:
numbers = {3, 2, 1, 1, 4, 5, 6, 3}
print(numbers)

others = {1, 4, 7}
numbers2 = [3, 2, 1]

print(set(numbers2).intersection(others))
#print(numbers.intersection(others))
print(numbers.difference(others))
print(numbers.union(others))

# numbers2 = set(numbers)
# print(numbers2)

{1, 2, 3, 4, 5, 6}
{1}
{2, 3, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
names = ['Sri', 'Alex', 'Martha']
print(names[1])

# heterogenous 
costs = [10, 12.3, 10.02, 'ten']

skills = {'COM':"Communications",
          'MKT':'Marketing',
          'PRG':'Programming',
           'COM':'Commando'}
print(skills)
products = {'drinks', 'candies', 'cookies'}
print(skills['PRG'])


employees = [ [1, 'joey', 'instructor'], [2, 'mary', 'manager']]
print(employees)
print(employees[0])
print(employees[0][1])

employees = [ {'id':1, 'name':'joey', 'title':'instructor', 'skills': ['C++','Python','SQL']}
             , {'id':2, 'name':'mary', 'title':'manager'}]
print(employees[1])
print(employees[1]['name'])

tuple1 = (1, 'joey', 'C++')
print(tuple1[1])
list2 = list(tuple1)
print(list2)

Alex
{'COM': 'Commando', 'MKT': 'Marketing', 'PRG': 'Programming'}
Programming
[[1, 'joey', 'instructor'], [2, 'mary', 'manager']]
[1, 'joey', 'instructor']
joey
{'id': 2, 'name': 'mary', 'title': 'manager'}
mary
joey
[1, 'joey', 'C++']

## Dictionaries use a pair of keys and values to store data

In [19]:
record = {'firstname':'Adam', 'lastname':'Smith', 'age':50}
print(record['firstname'])
record['lastname'] = 'Jones'
record['gender'] = 'M'
print(record)
print(record.keys())
print(record.values())
# print(record.items())
# del record['gender']

Adam
{'firstname': 'Adam', 'lastname': 'Jones', 'age': 50, 'gender': 'M'}
dict_keys(['firstname', 'lastname', 'age', 'gender'])
dict_values(['Adam', 'Jones', 50, 'M'])

## List comprehensions can be used as a shortcut way of doing a loop on the elements of a collection and are often more efficient

In [26]:
x = [1, 2, 3, 4]
y = []
for e in x:
    y.append(e * 2)
    
print(y)


y = [e * 2 for e in x]
newnames = [n.upper() for n in names]

print(y)
print(newnames)

[2, 4, 6, 8]
[2, 4, 6, 8]
['SRI', 'ALEX', 'MARTHA']

In [27]:
print([x * 2 for x in [1, 2, 3, 4]])
print([x for x in [1, 2, 3, 4, 4] if x % 2 == 0])

[2, 4, 6, 8]
[2, 4, 4]

## LAB: ## 
### Using the numbers list we created above, multiply each number by 5.
### Next, only multiply the numbers less than 5 by 10.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Try writing the for part first and use a simple name for the range variable that takes on each value one at a time
<br>
Put the calculation using the range variable in front of the for
<br>
If clause follows the for clause and can be used to make a conditional like a WHERE clause does in SQL
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print([n * 5 for n in numbers])
print([n * 5 for n in numbers if n < 10])
```
</p>
</details>

In [33]:
numbers = [4, 2, 10, 12, 3, 7, 12]
x1 = [5 * n for n in numbers]
print(x1)
print([5 * n for n in numbers])
print({5 * n for n in numbers})
d1 = {n : 5 * n for n in numbers}
print(d1)
print(d1[12])
x2 = [5 * n for n in numbers if n < 10]
print(x2)
# SELECT 5 * n from numbers as n
# SELECT 5 * n from numbers as n WHERE n < 10

[20, 10, 50, 60, 15, 35, 60]
[20, 10, 50, 60, 15, 35, 60]
{35, 10, 15, 50, 20, 60}
{4: 20, 2: 10, 10: 50, 12: 60, 3: 15, 7: 35}
60
[20, 10, 15, 35]

## Functions can be written with the def statement

In [34]:
def double(x):
    return x * 2

print(double(10))

20

## If a function can be represented in a single line to take parameters and return a value, a lambda is another way of expressing the function
### They have the advantage that you can embed them directly as a parameter to another function

In [35]:
triple = lambda x : x * 3
print(triple(10))

30

## map is a function that takes another function as the first parameter and a collection as the second. It applies the passed in function to each element of the collection returning a generator function.
### lambdas are often used with functions like map when you need to make an on the fly function

In [47]:
data = [10, 2, 30, 4, 5]
data1 = (double(x) for x in data)
print(data1)
for e in data1:
    print(e)
    
print(list(data1))
print(map(double, data))
print(list(map(double, data)))
print([double(x) for x in data])
print(list(map(lambda x : x * 5, data)))
print([x * 5 for x in data])

<generator object <genexpr> at 0x7f56480f8048>
20
4
60
8
10
[]
<map object at 0x7f56481bbbe0>
[20, 4, 60, 8, 10]
[20, 4, 60, 8, 10]
[50, 10, 150, 20, 25]
[50, 10, 150, 20, 25]

## filter is another function similar to map, that will take a function that returns a bool as the first parameter and apply it to the elements of the collection returning only those elements for which the function returns true

In [56]:
def small(x):
    return x < 10

print(list(filter(small, data)))

print(filter(lambda x : x < 10, data))
print(list(filter(lambda x : x < 10, data)))
print([x for x in data if x < 10])

print(list(sorted(map(lambda x : x * 10, filter(lambda x : x < 10, data)), reverse = True)))

[2, 4, 5]
<filter object at 0x7f5648110860>
[2, 4, 5]
[2, 4, 5]
[50, 40, 20]

## sorted is another example of a function that takes a function or lambda which can be used to provide a custom sort function on a collection

In [42]:
data = [10, 2, 7, 30, 4, 5]
print(sorted(data))
print(sorted(data, reverse=True))

# def evenfirst(x):
#     return (x % 2, x)

# print(sorted(data, key = evenfirst))
print(sorted(data, key = lambda x : (x % 2, x)))

[2, 4, 5, 7, 10, 30]
[30, 10, 7, 5, 4, 2]
[2, 4, 10, 30, 5, 7]

## LAB: ## 
### Given the list of names below, sort them on the length of the name so the shortest names are first.
### Try to sort them alphabetically regardless of case.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Create a lambda function using the built in len function
<br>
Create a lambda function using a method built into strings that can ignore the case
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print(sorted(names))
print(sorted(names, key = lambda x : len(x)))
print(sorted(names, key = lambda x : x.upper()))
```
</p>
</details>

In [ ]:
names = ['bob', 'Linda', 'Adam', 'betty']

## HOMEWORK: ## 
### Given the list of names below, print out all the names in alphabetical order.
### Print just the male students showing their names and ages as a tuple, in alphabetical order.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
The for clause will return each element of the list, each element is a single dictionary object
<br>
Use the keys to fetch the dictionary values you want for each element
<br>
To return a tuple, wrap multiple values in parentheses 
<br>
Use an if clause and the value of a key to return only the male students
<br>
<br>
</p>
</details>

In [ ]:
students = [
    {'id':1, 'name':'Zack', 'gender':'M', 'age':15},
    {'id':2, 'name':'Yamila', 'gender':'F', 'age':14},
    {'id':3, 'name':'Xavier', 'gender':'M', 'age': 14},
    {'id':4, 'name':'Wendy', 'gender':'F', 'age':15},
    {'id':5, 'name':'Victor', 'gender':'M', 'age':15}
]